
.task{
    margin: 5px;
    padding: 2px;
    border: 1px solid #001e00;
    grid-template: "20px 1fr 200px 60px";
    display: grid;
}

.taskForm{
    padding: 2px 8px;
    background-color: black;
    color: white;
    border: 1px solid #006914;
    border-radius: 5px;
}
.warning{
    border: 1px solid red;
    background-color: black;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
}