

.deleteBtn {
    padding: 1px;
    max-width: 20px;
    max-height: 20px;
    border-color: orangered;
}

.task{
    align-items: center;
    text-align: center;
    margin: 5px;
    padding: 2px;
    border: 1px solid #001e00;
    border-radius: 5px;
    grid-template: "20px 1fr 200px 60px 30px";
    display: grid;
}

.taskForm{
    padding: 2px 8px;
    background-color: black;
    color: white;
    border: 1px solid #006914;
    border-radius: 5px;
}
.warning{
    border: 1px solid red;
    background-color: black;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
}
.taskContent{
    word-wrap: break-word;
    align-items: center;
    justify-content: center;
    background: no-repeat;
    max-width: 120px;
}
