.App {
background-color: black;
  height: auto;
}

.todoList {
  width: 500px;
  margin: 0 auto;
  color: aliceblue;
}

.todoList > div {
  padding: 10px;
  color: aliceblue;
}

.todoList-task {
  color: aliceblue;
}