.App {
  margin: 0 auto;
}

.lists {
  justify-content: center;
  height: auto;
  flex-wrap: wrap;
  display: flex;
}

button{
  background-color: black;
  border: 1px solid green;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
}
button :hover {
  border: 1px solid #006500;
  cursor: pointer;
}
